
.header {
    background-color: var(--fundo-branco);
}
.header2 {
    background-color: var(--fundo-banner);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 70px;
}

.header-logo-texto, .header-logo-texto2 {
    margin-top: -10px;
}

.header-logo-texto h1, .header-logo-texto2 h1 {
    font-size: 26px;
    font-weight: 800;
}
.header-logo-texto p {
    font-size: 14px;
    color: var(--fundo-banner);
    font-weight: 600;
}
.header-logo-texto2 p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.header-menu {
    margin-top: -10px;
    list-style-type: none;
    display: flex; 
    gap: 30px;
}
.header-menu a {
    color: var(--letra-menunav);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.header-menu a:hover {
    border-bottom: 2px solid var(--fundo-banner);
}

.menu2-cor a {
    color: #fff;
}
.menu2-cor a:hover {
    border-bottom: 1.5px solid #fff;
}

@media (max-width: 940px) {
    .header-content {
        flex-direction: column;
        row-gap: 20px;
    }
    .header-menu {
        margin-top: 0;
        gap: 40px;
    }
    .header-menu a {
        font-size: 22px;
    }
    .menu2-cor a:hover {
        border-bottom: 1.5px solid var(--fundo-banner);
    }
}

@media (max-width: 580px) {
    .header-menu li:first-of-type {
        display: none;
    }

    .header-menu {
        justify-content: center;
        gap: 20px;
    }

    .header-menu a {
        background-color: #2f85d6ea;
        color: #fff;
        padding: 6px 18px;
        border-radius: 10px;
        font-size: 14px;
    }
}
@media (max-width: 380px) {
    .header-menu li:last-of-type {
        display: none;
    }
    .header-menu a {
        font-size: 14px;
    }
    .header-logo-texto p, .header-logo-texto2 p {
        font-size: 12px;
    }
}